@(aggregatedGroups: Seq[AggregatedEventGroup])

<div>
@aggregatedGroups.map { group =>
    <p>@(group.groupTimeText): </p>
    @group.aggregatedEvents.map { case (eventType, aggregatedEventInfo) =>
        @if(aggregatedEventInfo.hasAnyEvents) {
            <p style="margin-left: 10px;">@aggregatedEventInfo.eventDescription</p>
        }
    }
}
</div>

