@(allEvents: Seq[ChatEvent])
@import models._
@import org.joda.time.DateTime

@renderEvent(event: ChatEvent) = {
    <p>@event.timestamp.toString("yyyy-MM-dd hh:mma"): @event.eventDescription</p>
}

<div>
    @allEvents.map { event =>
        @renderEvent(event)
    }
</div>
